body{
    background-color: #282828;
    color: aliceblue;
}
.baslik{
    text-align: center;
    margin-top: 10%;
}
input{
  
    border-radius: 5%;
    color: black;
    
}
button{
    border-radius: 4%;

}